<!DOCTYPE html>
<html lang="en">
​
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
​  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <!-- Latest compiled and minified Bootstrap 3.3.7 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../public/css/site.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
  
  
  <title>Pavilion</title>
</head>
​
<body>
  <img src="../img/Pavillion_nav.png" class="img-responsive" alt="pavilion" />
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" id="header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
        </button>
      </div>
​
      {{#if session.user}}
      <form class="navbar-form navbar-right">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
            <span class="glyphicon glyphiconuser"></span>&nbsp;&nbsp;{{session.user.userId}}&nbsp;&nbsp;<span
              class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="userMenu">
            <li><a href="/userHistory">User History</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
      </form>
      <ul class="nav navbar-nav">
        {{#navLink "/"}}About Us{{/navLink}}
        {{#navLink "/activities"}}Activity List{{/navLink}}
      </ul>
      {{else}}
      <form class="navbar-form navbar-right">
        <a href="/register" class="btn btn-success"><span
            class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Register</a>
        <a href="/login" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Log In</a>
      </form>
      {{/if}}
​
    </div><!-- /.container-fluid -->
  </nav>
​
  <div class="container">
    {{{body}}}
  </div>
    <br><br><br>
<footer>
  <div class="container"><span class="text-muted">© 2020 Copyright
    by The Pavilion Team. All Rights Reserve.</span></div>
</footer>
<br>
  <!-- Latest compiled and minified jQuery 3.2.1 JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
​
  <!-- Latest compiled and minified Bootstrap 3.3.7 JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

</body>
</html>