<div class="row">
 <div class="col-md-12">
 <h2>Employees
     <a href="/activity/add" class="btn btn-success pull-right">Add New Employee</a>
 </h2>
 <hr />
        <div class="table-responsive">
        <table class="table ">
            <thead>
            <tr>
                <th>Activity&nbsp;Num</th>
                <th>Full&nbsp;Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Manager&nbsp;ID</th>
                <th>Status</th>
                <th>Department</th>
                <th>Hired&nbsp;On</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
 
            </tbody>
        </table>
        </div>
 </div>

<div class="col-md-12 text-center">
    <strong>{{message}}</strong>
</div>

</div>