<div class="row">
  <section class="main col-md-12">
    <article>
      <h2>About Pavilion</h2>
      <blockquote>
        <p><strong>Loneliness</strong> and the feeling of being unwanted is the most terrible poverty.</p>
        <footer>Mother Teresa</footer>
      </blockquote>
        <br>
        <img src="../img/why.PNG" />
        <table style="border-spacing: 94px; border-collapse: separate;align-content: center;">
          <tr>
            <td>
                <h2>How it Works</h2>
                <ul>
                <li>Step 1: Create a Pavilion account</li>
                <li>Step 2: Search for something you want to do</li>
                <li>Step 3: Join the group you are matched with</li>
                <li>Step 4: Relax and have fun meeting new people</li>
              </ul>
            </td>
            <td>
              <br/><br/><br/>
            </td>
            <td>
              <h2>Join Pavilion now!</h2>
              <a class="btn btn-lg btn-success" id="main-register" href="/register"> Create a Free Account </a>
            </td>
          </tr>
        </table>
        <br>
       
    </article>
​
    <br><br><br>
​
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <figure class="figure">
        <img src="../img/bowling.jpg" class="img-thumbnail" alt="Bowling">
        <figcaption class="figure-caption">Bowling</figcaption>
      </figure>
    </div>
    <div class="col-md-4">
      <figure class="figure">
        <img src="../img/dance.jpg" class="img-thumbnail" alt="Dance">
        <figcaption class="figure-caption">Dance</figcaption>
      </figure>
    </div>
    <div class="col-md-4">
      <figure class="figure">
        <img src="../img/drinking.jpeg" class="img-thumbnail" alt="Drinking">
        <figcaption class="figure-caption">Drinking</figcaption>
      </figure>
    </div>
  </div>
<p></p>
    <div class="row">
    <div class="col-md-4">
      <figure class="figure">
        <img src="../img/shopping.jpeg" class="img-thumbnail" alt="Bowling">
        <figcaption class="figure-caption">Shopping</figcaption>
      </figure>
    </div>
    <div class="col-md-4">
      <figure class="figure">
        <img src="../img/boardgame.jpg" class="img-thumbnail" alt="Dance">
        <figcaption class="figure-caption">Boardgame</figcaption>
      </figure>
    </div>
    <div class="col-md-4">
      <figure class="figure">
        <img src="../img/hiking.jpg" class="img-thumbnail" alt="Drinking">
        <figcaption class="figure-caption">Hiking</figcaption>
      </figure>
    </div>
  </div>
</div>
  </section>
</div>