
  .navbar-header img {
    width: 70px;
    height: 50px;
}

  .main-table {
      font-size: 14pt;
      font-family: 'Roboto Condensed', sans-serif;
  }

  .logo img {
    width: 40px;
    height: 40px;
}
